 <div class="container">

  <mat-sidenav-container class="sideContainer" *ngIf="true">

    <mat-sidenav #sidenav [mode]="this.sideNavMode" [opened]="sideNavTrigger">
      <mat-card class="container navPanel">

        <div class="container">
          <h2>Admin Panel</h2>
          <hr>
        </div>

        <h4>
          <mat-icon aria-hidden="false" aria-label="input" class="iconsLine">input</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Add Products
        </h4>
        <h4><mat-icon aria-hidden="false" aria-label="score" class="iconsLine">score</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;User Stats</h4>
        <h4><mat-icon aria-hidden="false" aria-label="wallet" class="iconsLine">wallet</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Income</h4>
        <h4><mat-icon aria-hidden="false" aria-label="accounts" class="iconsLine">supervisor_account</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Users</h4>
        <h4><mat-icon aria-hidden="false" aria-label="accounts" class="iconsLine">list</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Products</h4>
      </mat-card>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container" id="mainContent">
        <div class="navbar d-flex">
          <button type="button" mat-icon-button (click)="sidenav.toggle()" >
            <mat-icon aria-hidden="false" aria-label="hide/display panel" class="iconsLine">dehaze</mat-icon>
          </button>

          <h1><i>equickShop</i></h1>

          <button  type="button" mat-button [matMenuTriggerFor]="menu">
            <span>{{ this.username }}&nbsp;</span>
            <mat-icon class="iconsLine">account_circle</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item mat-icon-button (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </div>
        <hr>
        <h2>Add Product</h2>
        <hr>

        <form ngNativeValidate (submit)="addProduct()" enctype="multipart/form-data">
          <mat-card>
            <div class="form-group">
              <label>Title*</label>
              <input type="text" class="form-control" [(ngModel)]="title" name="title" required="true" id="title">
            </div>
          </mat-card>

          <div class="row d-flex">

            <mat-card class="col-md-6 container" id="desc">
            <mat-card-subtitle>
              <strong>Description*</strong>
            </mat-card-subtitle>
            <mat-card-content>
              <textarea id="" cols="30" rows="10" class="form-control" [(ngModel)]="desc" name="desc" required="true"></textarea>
            </mat-card-content>
            </mat-card>

            <mat-card class="col-md-5 container" id="img1">
              <mat-card-subtitle>
                <strong>Image*</strong>
              </mat-card-subtitle>
              <mat-card-subtitle>                
                <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" name="img" required="true"></mat-card-subtitle>
              <mat-card-content *ngIf="selectedFile">
                <img id="productImg" mat-card-image src="{{ selectedFile.src }}" alt="Product Image">
              </mat-card-content>
            </mat-card>

          </div>

          <mat-card style="margin-top: 10px; margin-top: 10px;" class="row d-flex {{ gutterClass }}">
            <div class="col-md-6 form-group">
              <label>Price*</label>
              <input type="number" class="form-control" [(ngModel)]="price" name="price" required="true" id="price">
            </div>

            <div class="col-md-6 form-group">
              <label for="">Count*</label>
              <input type="number" class="form-control" [(ngModel)]="count" name="count" id="count" required="true">
            </div>
          
          </mat-card>

          <mat-card class="row d-flex {{ gutterClass }}">
            <div class="form-group col-md-6">
              <label for="">Color</label>
              <input type="text" class="form-control" [(ngModel)]="color" name="color" id="color">
            </div>

          <div class="form-group col-md-6">
            <label for="">Size</label>
            <input type="text" class="form-control" [(ngModel)]="size" name="size" id="size">
          </div>

        </mat-card>

        <mat-card class="row">
          <div class="form-group">
            <label for="">Categories <i>(Separate multiple categories with a comma.)</i></label>
            <input type="text" class="form-control" [(ngModel)]="cat" name="cat" >
          </div>

        </mat-card>

        <div class="container submitBtn">
          <input type="submit" class="btn btn-primary form-control" value="Add" id="addBtn">
        </div>
      </form>

      <hr>
        <p>equickShop &copy; 2022</p>
      <hr>

    </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

