<ng-container *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Phone</td>
                            <td>Image</td>
                            <td>dioahf dguyfguye</td>
                            <td>$67</td>
                            <td>3</td>
                            <td>67*3</td>
                            <td>
                                <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
    
        <div class="center">
            <img src="./assets/iconsResources/shopping-cart-empty.png" alt="">
            <h4>Your Cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary">Shop now</button>
        </div>
    </div>
</ng-container>