
<mat-card class="login-card container">
    <mat-card-title style="text-align: center;">Sign In</mat-card-title>
    <mat-card-content>
        
        <form ngNativeValidate (submit)="login()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" [(ngModel)]="username" name="username" required="true">
            
                <label>Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password" required="true">

                <div>
                    <p [ngStyle]="{'color': color1}">{{response}}</p>
                </div>
    
            </div>

            <div class="container d-flex">            
                <div style="margin: auto;">
                    <i>                    
                        <p style="margin-top: 15px;">Don't have an account?<a routerLink="/register">Sign Up</a></p>
                    </i>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>

        </div>
        </form>

    </mat-card-content>
 
</mat-card>