.form-control{
    border-radius: 3px;
    margin-left: 20px;
}

#truck{
    margin-left: 50px;
}

#shopName{
    font-size: 30px;
}

a:hover { 
    text-decoration: none;
}

.fa-solid{
    font-size: 30px;
}

@media screen and (min-width: 1370px){
    .form-control{
        width: 500px;
    }

    #shopName{
        font-size: 30px;
    }

    #accounts{
        margin-left: 300px;
    }
}

@media screen and (max-width: 425px){
    #truck{
        margin-left: 2px;
    }

    #shopName{
        font-size: 25px;
    }

    .fa-solid{
        font-size: 25px;
    }
}