<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fa-solid fa-truck-fast" style="color:aliceblue" id="truck">
                &nbsp;
            </i>
            <a [routerLink]="['/products']"><strong style="color:aliceblue;" id="shopName">equickShop</strong></a>

            <div class="input-group" *ngIf="displaySearch">
                <div class="form-group">
                    <input type="search" placeholder="Search Products" class="form-control">
                </div>
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

    
        <button class="btn btn-primary" type="button" mat-button [matMenuTriggerFor]="menu" id="accounts">
            <span>{{this.userName}}&nbsp;</span>
            <i class="fa-solid fa-user"></i>

            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/orderHistory">
                    <mat-icon>list_alt</mat-icon>
                    <span>Orders</span>
                </button>

                <button mat-menu-item routerLink="/login">
                    <mat-icon>login</mat-icon>
                    <span>Sign In</span>
                </button>

                <button mat-menu-item routerLink="/register">
                    <mat-icon>account_circle</mat-icon>
                    <span>Create Account</span>
                </button>

                <button mat-menu-item mat-icon-button (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log out</span>
                </button>
              </mat-menu>
        </button>


        <button routerLink="/cart" class="btn btn-primary">
            <i class="fa-solid fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>