<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fa-solid fa-truck-fast" style="font-size: 40px; color:aliceblue">
                &nbsp;
            </i>
            <strong style="font-size: 30px; color:aliceblue">equickShop</strong>
            <div class="form-group">
                <input type="text" placeholder="search products" class="form-control">
            </div>
            <span class="fa-solid fa-magnifying-glass search-icon"></span>
        </div>
        <button class="byn btn-primary">
            <i style="font-size: 30px;" class="fa-solid fa-cart-plus"></i>
        </button>
    </div>
</header>