.searchContainer{
    margin-left: 20px;
}

.search-box {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.searchResults{
    position: absolute;
    z-index: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

ais-hits a{
    text-decoration: none;
    color: black;
}

ais-hits a:hover{
    color: blue;
}

#truck{
    margin-left: 50px;
}

#shopName{
    font-size: 30px;
}

a:hover { 
    text-decoration: none;
}

.fa-solid{
    font-size: 30px;
}

@media screen and (min-width: 1370px){
    .searchContainer{
        margin-left: 40px;
        width: 630px;
    }

    .searchResults{
        width: 630px;
    }

    #shopName{
        font-size: 30px;
    }

    #accounts{
        margin-left: 200px;
    }
}

@media screen and (max-width: 425px){
    #truck{
        margin-left: 2px;
    }

    #shopName{
        font-size: 25px;
    }

    .fa-solid{
        font-size: 25px;
    }
}