<app-header></app-header>

<mat-card class="w-50 mx-auto mt-3">
    <mat-card-title>Delivery/ Billing Information</mat-card-title>
    <hr>

    <form ngNativeValidate (submit)="placeOrder()">
        <div class="form-group">
            <label>Delivery Address</label>
            <input type="text" class="form-control" [(ngModel)]="address" name="username" required="true">
        </div>
    
        <mat-card-subtitle class="mt-3">Billing Info</mat-card-subtitle>
        <div class="border container-fluid">
            <mat-card-subtitle>Feature coming soon.</mat-card-subtitle>
            <mat-card-subtitle class="mx-5">To be billed Ksh 40, 000</mat-card-subtitle>
        </div>
    
        <mat-card-subtitle class="mt-3">Order Details</mat-card-subtitle>
        <div class="border container-fluid">
            <mat-card-subtitle class="d-flex">5 Items <mat-card-subtitle class="mx-5"> <a class="mx-5">Review Items</a></mat-card-subtitle></mat-card-subtitle>
        </div>
    
        <div class="mx-auto mt-4">
            <input type="submit" class="btn btn-primary w-25" value="Place Order">
        </div>

    </form>

    <div class="container mt-5">
        <p style="font: bold;">Please note that the application is still in testing phase, you won't 
            be charged for any order at this time. We encourage you to place the 
            order to continue testing the app and give us your feedback. Thank you
             for your support!</p>
    </div>
    
</mat-card>