mat-card{
    background: rgba(225, 231, 233, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

mat-card-content{
    font-style: italic;
    font-size: x-small;
    font-weight: lighter;
}

.btn {
    display: block;
    box-shadow: 0px 4px 4px rgba(29, 45, 182, 0.25);
  }

.container-fluid{
    border-radius: 10px;
    background: rgba(205, 211, 213, 0.5);
}