<footer style="background: #052150;">
    <div class="container text-sm-center text-md-start my-3" style="background: #052150;">
        <div class="row pt-4">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <a class="text-white" [routerLink]="['/products']" [queryParams]="{ new: 'true'}">New Products</a>
            </div>

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <a class="text-white" [routerLink]="['/products']" [queryParams]="{ category: 'Fashion'}">Fashion</a>
            </div>

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <a class="text-white" [routerLink]="['/products']" [queryParams]="{ category: 'Men'}">Men Fashion</a>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <a class="text-white" [routerLink]="['/products']" [queryParams]="{ category: 'Electronics'}">Electronics</a>
            </div>
    
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <a class="text-white" [routerLink]="['/products']" [queryParams]="{ category: 'Jewellery'}">Jewellery</a>
            </div>
    
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <a class="text-white" [routerLink]="['/products']" [queryParams]="{ category: 'Women'}">Women Fashion</a>
            </div>
        </div>
    </div>

    <hr class="my-0" style="background: white;">

    <div class="text-center p-3 text-white">
        &copy; {{currentYear}} Copyright:
      <a class="text-white" [routerLink]="['/products']">equickShop</a>
    </div>
</footer>