<app-header></app-header>

<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="./assets/iconsResources/allCat.png" alt="">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="./assets/iconsResources/gadgets.png" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="./assets/iconsResources/searchClothes.png" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="./assets/iconsResources/necklace.png" alt="">
                <h6>Jewellery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img [src]="'data:'+item.img.contentType+';base64,'+item.img.data | safeHtml" alt="">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; max-width: 100ch;">{{ item.title }}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; max-width: 100ch;">{{ item.desc }}</p>
                <p> <strong>Price</strong> KSh {{ item.price }}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>
        
    </div>
</div>

<footer class="bg-light text-center text-lg-start" style="background-color: #0a4275;">
    <div class="text-center p-3 text-white" style="background-color: #0a4275;">
        &copy; 2022 Copyright:
      <a class="text-white" href="">equickShop</a>
      <!--
      <div class="text-end">
        <span>Developed by Kennedy</span>
      </div>
    -->
    </div>
</footer>