<app-header></app-header>

<ng-container *ngIf="orderHistory.length != 0">
    <mat-card class="" style="background: #C5E3ED;">
        <mat-card-title style="margin-left: 23rem;">Order History</mat-card-title>
    </mat-card>

    <div class="container">
        <ng-container *ngFor="let order of orderHistory">
            <mat-card class="mt-4 w-50 mx-auto" id="orders">

                <mat-card-header>
                    <h4>Order Id: {{order._id}}</h4>
                    <h4 class="mx-auto">{{order.createdAt | date: 'medium'}}</h4>
                </mat-card-header>

                <mat-card-content>
                    <div class="row my-3">
                        <div class="col-sm-6">{{order.itemCount}} Items</div>
                        <div class="col-sm-6">Amount: KSh {{order.amount | number:'1.0-0'}}</div>
                    </div>

                    <div class="row my-1">
                        <div class="col-sm-6">Delivery Address: {{order.address}}</div>
                        <div class="col-sm-6">Status: <span style="color: #0F7113;">{{order.status}}</span></div>
                    </div>

                </mat-card-content>

                <mat-card-actions>
                    <button class="btn" (click)="viewOrderItems(order._id)">View Items<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></button>
                </mat-card-actions>

                <ng-container *ngIf="((orderDetails != undefined) && (orderDetails[0]._id === order._id))">
                    <!-- displays the product details of a particular order  -->
                    <ng-container *ngFor="let product of orderDetails[0].products">
                        <div class="container d-flex mb-3">
                            <!-- product image -->
                            <div class="container w-25">
                                <img style="width: 120px; border: 5px;" [src]="'data:'+product.img.contentType+';base64,'+product.img.data | safeHtml" alt="Item">
                            </div>

                            <!-- product details -->
                            <div class="container w-75">
                                <h4>{{ product.title }}</h4>
                                <h5>KSh {{ product.price | number:'1.0-0' }}</h5>
                                <h5>Quantity: {{ product.quantity }}</h5>
                            </div>
                        </div>

                    </ng-container>
                    
                </ng-container>

            </mat-card>
            
        </ng-container>
        
    </div>

</ng-container>

<ng-container *ngIf="orderHistory.length == 0">
    <mat-card class="w-50 mx-auto h-75 mt-3">
        <mat-card-title>Orders</mat-card-title>
        <mat-card-content>No Orders Yet</mat-card-content>
    </mat-card>
</ng-container>


<app-footer></app-footer>
