#orders .btn{
    background: #D9D9D9; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #3B71CA;
}

#emptyOrders .btn{
    background: #3013E0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}

.fa-chevron-circle-down{
    margin-left: .5rem
}

#emptyOrders .material-symbols-outlined{
    color: #3013E0;
    font-size: 96px;
}

mat-card mat-card-header{
    border-radius: 10px 10px 0px 0px;
    background: #C5E3ED;
    padding-top: 1rem;
}

mat-card mat-card-content{
    margin-left: 2rem;
}

mat-card mat-card-actions{
    margin-left: 2rem;
}

#orders{
    border-radius: 10px;
    background: rgba(197, 227, 237, 0.2);
}

#itemLink {
    text-decoration: none;
    color: black;
}

#itemLink:hover {
    color: blue;
}

#emptyOrders {
    border-radius: 10px;
    background: #D9D9D9;
}

#emptyOrders mat-card-content, #loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}