<app-header></app-header>

<ng-container *ngIf="orderHistory.length != 0">
    <mat-card class="" style="background: #C5E3ED;">
        <mat-card-title style="margin-left: 23rem;">Order History</mat-card-title>
    </mat-card>

    <div class="container">
        <ng-container *ngFor="let order of orderHistory">
            <mat-card class="mt-4 w-50 mx-auto" id="orders">

                <mat-card-header>
                    <h4>Order Id: {{order._id}}</h4>
                    <h4 class="mx-auto">{{order.createdAt | date: 'medium'}}</h4>
                </mat-card-header>

                <mat-card-content>
                    <div class="row my-3">
                        <div class="col-sm-6">{{order.itemCount}} Items</div>
                        <div class="col-sm-6">Amount: KSh {{order.amount | number:'1.0-0'}}</div>
                    </div>

                    <div class="row my-1">
                        <div class="col-sm-6">Delivery Address: {{order.address}}</div>
                        <div class="col-sm-6">Status: <span style="color: #0F7113;">{{order.status}}</span></div>
                    </div>

                </mat-card-content>

                <mat-card-actions>
                    <button class="btn" (click)="viewOrderItems(order._id)">View Items<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></button>
                </mat-card-actions>

            </mat-card>
            
        </ng-container>
        
    </div>

</ng-container>

<ng-container *ngIf="orderHistory.length == 0">
    <mat-card class="w-50 mx-auto h-75 mt-3">
        <mat-card-title>Orders</mat-card-title>
        <mat-card-content>No Orders Yet</mat-card-content>
    </mat-card>
</ng-container>


<app-footer></app-footer>
